
* {
  box-sizing: border-box;
}
body{
  font-family: "Montserrat", sans-serif;
  padding: 36px 156px;
  margin: 0;
  color: #2e2f42;
}
#datetime-picker{
  padding: 8px 16px;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  border: 1px solid #808080;
  outline: transparent;
}
#datetime-picker::placeholder{
  color: inherit;
  line-height: 150%;
  letter-spacing: 0.04em;
}
#datetime-picker:hover{
  border-color: #000;
}
#datetime-picker:active{
  border-color: #4e75ff;
}
#datetime-picker:active::placeholder{
  color: #000;
}
#datetime-picker:disabled{
  background-color: #fafafa;
  color: #808080;
  border-color: #808080;
}
#datetime-picker:disabled::placeholder{
  color: #808080;
}
button{
  font-family: inherit;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.04em;
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 75px;
  min-height: 40px;
  cursor: pointer;
  background: #4e75ff;
  border-color: transparent;
  color: #fff;
  transition: background-color 150ms ease-in-out;
}
button:hover{
  background-color: #6c8cff;;
}
button:disabled{
  background-color: #cfcfcf;
}
.timer{
  display: flex;
  margin-top: 32px;
  gap: 24px;
}
.value{
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.04em;
}
.label{
  line-height: 150%;
  display: block;
  text-transform: uppercase;
}
.field{
  display: flex;
  flex-direction: column;
  align-items: center;
}